.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background-color: var(--gray-10);
  position: fixed;
  top: 15%;
  left: 45%;
  padding: 30px;
  border-radius: 20px;
  width: 400px;
  height: 600px;
  h2 {
    padding-bottom: 3rem;
  }
}

button.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.add-event-btn {
  padding-left: 10rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  gap: 4px;
}

.form-input {
  border-radius: 10px;
  border: 2px solid var(--gray-50);
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 5px;
}

.submit-btn {
  background-color: var(--primary-110);
  color: var(--gray-10);
  border-radius: 10px;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
