.footer {
  grid-area: footer;
  width: 1157px;
  height: 72px;
  background-color: var(--gray-20);
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-terms {
  display: flex;
  gap: 1.5rem;
  color: var(--gray-50);
}

.footer-copyright {
  color: var(--gray-70);
  font-size: 12px;
  font-weight: var(--semibold);
  padding-left: 24px;
}

.footer-social-media {
  display: flex;
  gap: 1.5rem;
  color: var(--gray-50);
  padding-left: 25rem;
}

.footer-links {
  cursor: pointer;
}
