.dashboard-header {
  display: flex;
  justify-content: space-between;
}

.view-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--cool-gray-10);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: var(--medium);
  color: var(--secondary-100);
  text-decoration: none;
  cursor: pointer;
}

.dashboard-card-container {
  display: flex;
  gap: 2rem;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
